body {
  background-color: #cecece;
  border-color: #313131;
  border-width: 10px;
  font-family: "Nunito Sans" , sans-serif;
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 3em;
}

.row {
  display: flex;
  justify-content: center;
  /* min-width: 600px; */
  max-width: 1200px;
  object-fit: contain;
}

.column {
  /* float: left; */
  /* min-width: 300px; */
  align-items: center;
  /* flex-wrap: wrap; */
  /* padding: 20px; */
  object-fit: contain;
}

.column-left {
  /* display: inline-block; */
  flex: 30%;
  margin-right: 20px;
}

.column-right {
  flex: 70%;
  /* min-width: 600px; */
  /* margin: 50px; */
  /* object-fit: contain; */
}

@media only screen and (max-width: 800px) {
  .row {
    display: block;
    /* justify-content: center; */
  }
  .column-left {
    width: 100%;
  }
  .column-right {
    width: 100%;
  }
  #Artist {
    position: relative;
  }
  #Artwork {
    position: relative;
  }
  #description {
    position: relative;;
  }
  #div-arrow {
    position: relative;;
  }
  #form-comment {
    position: relative;
  }
}

#Artist {
  display: inline-flex;
  /* justify-content: space-around; */
  flex-direction: row;
  top: 20px;
  left: 10px;
}

#Artwork {
  display: inline-flex;
  justify-content: space-around;
  flex-direction: row;
  min-width: 220px;
  /* padding-left: 20px; */
  padding-top: 30px;
  left: 10px;
}

#description {
  display: inline-flex;
  justify-content: space-around;
  flex-direction: row;
  top: 100px;
  left: 20px;
  min-width: 280px;
  padding-top: 50px;
  padding-left: 20px;
  padding-bottom: 40px;
}

#form-comment {
  display: flex;
  flex-direction: row;
  justify-content: center;

}

#comment-area {
  position: center
}

#submit {
  position: center;
}


#heart {
  max-width: 50px;
  padding-left: 40px;
  padding-right: 40px;
}

.arrow {
  margin: 10px;
  width: 3%;
  min-width: 35px;
}

.div-arrow {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  padding-bottom: 35px;
}

#image {
  display: flex;
  /* position: absolute; */
  flex-direction: row;
  justify-content: right;
  max-width: 100%;
  max-height: 800px;
  border: #313131;
  border-style: solid;
  border-radius: 1px;
  border-width: thin;
  margin-top: 30px;
}